.subscribeform-form__message {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

button:disabled {
    cursor: not-allowed;
}

.breadcrumbs__item {
    line-height: 1.3;
    transition: all 0.3s;
}

.form-productpage__line {
    margin-bottom: 2.5rem;
}
.form-productpage__button-items {
    margin-top: 3.40625rem;
}

.leftfixed-productpage__image,
.leftfixed-productpage__link {
    width: auto;
    height: auto;
}

.rightsticky-productpage__content {
    border-bottom: none;
}

.rightfixed-productpage {
    border-top: 0.0625rem solid #3f3124;
    margin-top: -1px;
}

@media (max-width: 47.9988em) {
    .cardproduct-productpage__breadcrumbs-mob {
        border-bottom: 0.0625rem solid #3f3124;
    }
    .leftsticky-productpage__item-image {
        border-bottom: 0.0625rem solid #3f3124;
    }

    .rightfixed-productpage {
        border-bottom: 0.0625rem solid #3f3124;
        margin-top: 0;
    }
}

@media (min-width: 47.9988em) {
    .leftsticky-productpage {
        border-top: none;
        border-right: 0.0625rem solid #3f3124;
        border-bottom: 0.0625rem solid #3f3124;
    }

    .cardproduct-productpage__block-sticky {
        border-top: 0.0625rem solid #3f3124;
    }

    .cardproduct-productpage__block-fixed {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .leftsticky-productpage__item-image {
        border-bottom: 0.0625rem solid #3f3124;
    }
    .leftsticky-productpage__item-image:last-child {
        border-bottom: none;
    }
    .cardproduct-productpage__block-fixed div {
        width: 100%;
    }

    .cardproduct-productpage__left-fixed {
        border-right: 0.0625rem solid #3f3124;
    }
}
@media (max-width: 23.4375em) {
    .form-productpage__line {
        margin-bottom: 1.875rem;
    }
    .form-productpage__button-items {
        margin-top: 2.5rem;
    }
}
@media (min-width: 23.4375em) and (max-width: 80em) {
    .form-productpage__line {
        margin-bottom: clamp(1.875rem, 1.61602209945rem + 1.1049723757vw, 2.5rem);
    }
    .form-productpage__button-items {
        margin-top: clamp(2.5rem, 2.1244820442rem + 1.6022099448vw, 3.40625rem);
    }
}

.productcard__image-above {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transition: all 0.3s;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.productcard__image-under {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    transform: scale(1);
    transition: all 0.3s;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.cart__empty {
    padding: 25px;
}

.productcardgrid__productcard-image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transition: all 0.3s;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.productcardgrid .productcardgrid__items .productcardgrid__item {
    border: none;
    border-left: 0.0625rem solid #3f3124;
    border-bottom: 0.0625rem solid #3f3124;
}

.productcardgrid .productcardgrid__items .productcardgrid__item:last-child {
    border-right: 0.0625rem solid #3f3124;
    margin-right: -1px;
}

.productcardgrid .productcardgrid__items .productcardgrid__item--row-end {
    border-right: 0.0625rem solid #3f3124;
}

@media (max-width: 47.9988em) {
    .productcardgrid__items .productcardgrid__item--video {
        grid-column: span 2 !important;
    }
}
@media (min-width: 47.9988em) {
    .herotwocard__content {
        align-items: stretch;
    }

    .herotwocard__right {
        position: relative;
        display: flex;
    }
    .herotwocard__image {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        opacity: 1;
        visibility: visible;
        pointer-events: all;
        transition: all 0.3s;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        display: block;
    }
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.pagination__list {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.spollers-filtersort__radio-item input {
    display: none;
}

.spollers-filtersort__radio-item input:checked + .radio::after {
    background-color: #3f3124;
    background-image: url(check.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 65% 65%;
    transform: scale(1);
}

.spollers-filtersort__radio-list {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.spollers-filtersort__radio-item .radio {
    align-items: center;
    cursor: pointer;
    display: inline-flex;
    gap: 0.625rem;
    line-height: 1.1;
    position: relative;
}
.spollers-filtersort__radio-item .radio:before {
    align-self: flex-start;
    border: 0.0625rem solid #a7a9ac;
    border-radius: 0.1875rem;
    content: '';
    flex: 0 0 1.125rem;
    height: 1.125rem;
    width: 1.125rem;
}
.spollers-filtersort__radio-item .radio:after {
    border-radius: 0.1875rem;
    content: '';
    height: 1.125rem;
    left: 0;
    position: absolute;
    top: 0;
    transform: scale(0);
    transition: all 0.3s ease 0s;
    width: 1.125rem;
}

.filterandsort__content {
    height: 100%;
}

.form-filtersort {
    min-height: 0;
    height: 100%;
    padding-bottom: 2.5625rem;
}

.filterandsort__filtersort {
    height: 100%;
}

.form-filtersort__rows {
    overflow-y: auto;
}
.form-filtersort__rows::-webkit-scrollbar {
    width: 0;
}
